<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleExecutable</key>
    <string>palmyrafm</string>
    <key>CFBundleIdentifier</key>
    <string>com.nagornyi.palmyrafm</string>
    <key>CFBundleName</key>
    <string>PalmyraFM</string>
    <key>CFBundleDisplayName</key>
    <string>Palmyra File Manager</string>
    <key>CFBundleVersion</key>
    <string>1.0</string>
    <key>CFBundleShortVersionString</key>
    <string>1.0</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleSignature</key>
    <string>PFMN</string>
    <key>CFBundleIconFile</key>
    <string>palmyrafm</string>
    <key>NSHumanReadableCopyright</key>
    <string>Copyright © 2025 Artem Nagornyi. All rights reserved.</string>
    <key>NSHighResolutionCapable</key>
    <true/>
    <key>LSMinimumSystemVersion</key>
    <string>10.15</string>
    <key>CFBundleDocumentTypes</key>
    <array>
        <dict>
            <key>CFBundleTypeRole</key>
            <string>Viewer</string>
            <key>LSHandlerRank</key>
            <string>Alternate</string>
            <key>LSItemContentTypes</key>
            <array>
                <string>public.folder</string>
            </array>
        </dict>
    </array>
</dict>
</plist>
